services:
  onlycex-landing-page:
    image: onlycex-landing-page
    container_name: onlycex-landing-page
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000 